<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleExecutable</key>
  <string>DrylessMac</string>
  <key>CFBundleIdentifier</key>
  <string>com.yuejianli.dryless.mac</string>
  <key>CFBundleName</key>
  <string>Dryless</string>
  <key>CFBundleIconFile</key>
  <string>Dryless</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>0.2.0</string>
  <key>CFBundleVersion</key>
  <string>0.2.0</string>
  <key>LSMinimumSystemVersion</key>
  <string>14.0</string>
  <key>NSPrincipalClass</key>
  <string>NSApplication</string>
  <key>NSCameraUsageDescription</key>
  <string>Dryless uses the camera locally to estimate blink frequency. Frames are processed in memory and are not saved or uploaded.</string>
</dict>
</plist>
